* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    padding: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form  > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 250px;
}

input, select {
    font-size: 1.2rem;
    padding: 5px;
    border: none;
    background: #fff;
    border-radius: 8px;
}

input:focus {
    outline: none;
}

button {
    padding:10px;
    border: none;
    box-shadow: 1px 1px 4px black;
    border-radius: 8px;
}

input:required:invalid {
    border: 2px solid red;
}

.protein {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.protein > div {
    display: flex;
    gap: 25px;
}

.error {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}